[core]
  compression = 9
  preloadindex = true

[status]
  branch = true
  showStash = true
  showUntrackedFiles = all

[diff]
  context = 3
  renames = copies
  interHunkContext = 10
[user]
	name = Mathew Yeldalo
	email = mathewyeldalo@busways.com.au
